{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fatigue Analysis</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'customcss/base.css' %}" rel="stylesheet">
  <link href="{% static 'customcss/style.css' %}" rel="stylesheet">
  <link href="{% static 'customcss/workerform.css' %}" rel="stylesheet">
  <!-- <link href="{% static 'customcss/home.css' %}" rel="stylesheet"> -->

</head>

<body>


  <div class="container-fluid">
    <div class="row">
      <div class="col-12">


        <header id="header" class="fixed-top">
          <div class="container d-flex align-items-center justify-content-between">
              <div class="logo" id="logo">
                  <h1><a href="{% url 'index' %}">Fatigue Analysis System</a></h1>
                  <!-- Uncomment below if you prefer to use an image logo -->
                  <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
              </div>
              
              <nav id="navbar" class="navbar navbar-expand-lg">

                <a class="nav-link" href="{% url 'index' %}" style="top:0;">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </a>
                  <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav ms-auto">
                          <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'train' %}">Register Worker</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'trainrecog' %}">Train</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'test' %}">Test</a></li>
                          <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                      </ul>
                  </div>
              </nav>
          </div>
      </header>

      </div>
    </div>


    <div class="row" id="main">

      {%block content%}
      {%endblock%}
    </div>

  </div><!-- End Footer -->


<!-- <div class="container-fluid">
  <div class="row">
    <div class="col">
      <footer id="sticky-footer" class="flex-shrink-0  bg-dark text-white-50">
        <div class="container text-center">
          <small>Copyright &copy; Smart Fatigue Analysis System</small>
        </div>
      </footer>
    </div>

  </div>
</div> -->
<footer>
  <!-- <div class="row mt-5 mb-2 ">
      <div class="col">
          <p class="text-center"> © Copyright 2024 - Smart Fatigue Analysis System using Gait Sequences.</p>
      </div>
  </div>
</footer> -->


  <!-- <script type="text/javascript" src="{% static 'js/gait.js' %}"></script> -->
  <script src="{% static 'js/gait.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/workerform.js' %}"></script>



</body>

</html>