{% extends 'myApp/base.html' %}
{% block content%}
{% load static %}



<div class="container-fluid">
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center" style="height: 615px; margin-top: 95px; background: url('{% static 'imgs/banner-5.jpeg' %}');">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Welcome to <span>Fatigue Analysis System</span></h1>
      <h2>Analyze your data to understand fatigue patterns and improve performance</h2>
      <a href="{% url 'train' %}" class="button" button style="margin:10px;">Register Worker</a>
      <a href="{% url 'trainrecog' %}" class="button" button style="margin:10px;">Train Recognizer</a>
      <a href="{% url 'test' %}" class="button" button style="margin:10px;">Start Analysis</a>
    </div>
  </section>
</div>



<div class="container-fluid" id="About" >
  <div class="row">
  
      <div class="col-lg-12 text-center">
          <h3>ABOUT OUR PROJECT</h3>
      </div>
  </div>
  <div class="row">
   
    <div class="wrapper">
      <p class="center-text" style="display: flex; justify-content: center; align-items: center;">
        The purpose of our project is the detection of fatigue in workers and successive identification of said worker for early intervention.<br>
        The project focuses on tackling fatigue in workers with the use of machine learning models and algorithms and to build a <br>
        simple but efficient system for it.
      </p>
  </div>
  <div class="row">
      <div class="col-lg-12" style="display: flex; justify-content: center; align-items: center; height: 60vh;">
          <img src="{% static 'imgs/banner-home.png' %}" alt="About Image" class="img-fluid">
      </div>
  </div>
  </div>
</div>


<div class="container-fluid" id="heading" >
  <div class="row">
      <!-- Heading -->
      <div class="col-lg-12 text-center">
          <h3>OUR TEAM</h3>
      </div>
  </div>
</div>
<div class="container-fluid " id="Our-Team" >

    <div class="row text-center justify-content-center">
      
      <!-- Guide item -->
      <div class="col-lg-5 d-flex align-items-center">
        <div class="guide-card">
          <img
            src="https://media.licdn.com/dms/image/C4D03AQFRGKVzeXVjhg/profile-displayphoto-shrink_200_200/0/1662117060386?e=2147483647&v=beta&t=B4iJNzQaMlC-6jQbvnYmsJ14_yqv50mj920piDvBcB4"
            alt="" width="180" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Mr. Khalil Ahmed</h5>
          <span class="small text-uppercase text-muted block">Guide</span>
          <p style="text-align: justify;">

            An accomplished Assistant Professor and the Head of the Computer Science and Engineering Department at BGSB
            University, Rajouri. With over 15 years of teaching and research experience, he excels in Image Processing,
            Algorithms, and Cloud Computing.received multiple awards for his contributions to workshops and
            research.
          </p>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div><!-- End Guide item -->

      <div class="col-lg-6">
        <div class="row justify-content-center">
          <!-- Team item 1 -->
          <div class="col-md-6 mb-2" style="padding-top: 20px">
            <div class="lead-team-card">
              <img src="https://media.licdn.com/dms/image/D4D03AQF2Kr7yTvp2Og/profile-displayphoto-shrink_800_800/0/1679036216802?e=1721865600&v=beta&t=Ibi9LFOcBr4ZFm2F2En_2csGofrwaxMd_FVNwcXEiZg" 
              alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Murasif Mushtaq</h5>
              <span class="small text-uppercase text-muted">Team Lead</span>
              <p style="text-align: center;">
                Python Backend Development,Computer Vison
                Machine Learning,
                Cloud Compuing

              </p>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item">
                  <a href="#" class="social-link">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div><!-- End Team item 1 -->

          <!-- Team item 2 -->
          <div class="col-md-6 mb-2" style="padding-top: 20px">
            <div class="lead-team-card">
              <img
                src="https://media.licdn.com/dms/image/D4D03AQF01OEUMZH52A/profile-displayphoto-shrink_800_800/0/1682008856119?e=1721865600&v=beta&t=vDr8qpN3Qhc3fAxwz3LimeiaA1Jdmi1lGmz-sVt1ryY"
                alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Faisal Gulzar</h5>
              <span class="small text-uppercase text-muted">Member</span>
              <p style="text-align: center;">
                Frontend Development,HTML5, CSS, Javascript,Bootstrap.
              </p>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item">
                  <a href="#" class="social-link">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div><!-- End Team item 2 -->

          <!-- Team item 3 -->
          <div class="col-md-6 mb-2">
            <div class="team-card">
              <img
                src="https://media.licdn.com/dms/image/D5603AQGtkmLClAkSOQ/profile-displayphoto-shrink_800_800/0/1716553678911?e=1721865600&v=beta&t=wI_UNq9g-fogyOC8t_cMBSAmE9t-Z0PVwCNSGt_3G98"
                alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Sahil Rafiq</h5>
              <span class="small text-uppercase text-muted">Member</span>
              <p style="text-align: center;">
                Frontend Development,HTML5, CSS, Javascript,Bootstrap.
              </p>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item">
                  <a href="#" class="social-link">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div><!-- End Team item 3 -->

          <!-- Team item 4 -->
          <div class="col-md-6 mb-2" >
            <div class="team-card">
              <img
                src="https://media.licdn.com/dms/image/D4D35AQFsZBKle0t88w/profile-framedphoto-shrink_800_800/0/1693739855774?e=1717034400&v=beta&t=ZsoTa23L_q1yvz2GDhRm_zwGbB79u7HH13A_KXYjENk"
                alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Jashwanth Guptha</h5>
              <span class="small text-uppercase text-muted">Member</span>
              <p style="text-align: center;">
                Frontend Development,HTML5, CSS, Javascript,Bootstrap.
              </p>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item">
                  <a href="#" class="social-link">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- End Team item 4 -->
        </div>
      </div>
    </div>
  </section>
</div>




{%endblock%}